@import "tailwindcss/theme" layer(theme);

@theme {
  --color-functions-alpha: #ff0000;
}

@layer components {
  .alpha-text {
    color: --alpha(var(--color-functions-alpha) / 50%);
  }

  .spacing-box {
    margin-top: --spacing(4);
  }
}
