name: Test

# Controls when the action will run.
on:
  # Triggers the workflow on pull request events but only for the main branch
  pull_request:
    branches: [main]
  push:
    branches: [main]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  test:
    runs-on: ${{ matrix.os }}
    name: Test tailwindcss@${{ matrix.tailwindcss }} on ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        tailwindcss:
          - "^3"
          - "3.1.0" # The fist version that support `options.config`.

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install Pnpm
        run: npm i -g corepack@latest --force && corepack enable

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "pnpm"

      - name: Install Dependencies
        run: pnpm install && npx playwright install chromium

      - name: Install tailwindcss@${{ matrix.tailwindcss }}
        if: ${{ matrix.tailwindcss }} != "latest"
        # Tailwind CSS <= v3.4.0 does not have correct TypeScript definition, which will make `rslib build` fail.
        continue-on-error: true 
        run: pnpm add -D -w tailwindcss@${{ matrix.tailwindcss }}

      - name: Run Test
        run: pnpm run test
